<div>
  <div data-collapse="medium" data-animation="over-right" data-duration="400" data-easing="ease-in"
    data-easing2="ease-out" role="banner" class="navbar-2 w-nav">
    <div class="container-13 w-container"></div>
    <div class="w-container"><a href="index.html"><img src="images/siteeeeeee.png" width="100" height="57"
          loading="auto"
          srcset="images/siteeeeeee-p-500.png 500w, images/siteeeeeee-p-800.png 800w, images/siteeeeeee-p-1080.png 1080w, images/siteeeeeee-p-1600.png 1600w, images/siteeeeeee.png 1920w"
          sizes="100px" alt="" class="image-2"></a>
      <nav role="navigation" class="nav-menu w-nav-menu"><a href="index.html" class="nav-link-6 w-nav-link">Home</a><a
          href="tutori.html" class="nav-link-6 w-nav-link">Gasește-ți mentor</a><a href="devino-mentor.html"
          class="nav-link-6 w-nav-link">Devino mentor</a><a href="preturi.html"
          class="nav-link-6 w-nav-link">Prețuri</a><a href="#" class="nav-link-6 w-nav-link">Contact</a>
        <div id="login-bar" style="display:none"><a href="autentificare.html" aria-current="page"
            class="nav-link-6 in-button w-nav-link w--current">Autentificare</a><a href="inregistrare.html"
            class="nav-link-6 in-button w-nav-link">Înregistrare</a></div>
        <div id="logout-bar" style="display:none">

          <a href="lista-mesaje.html" class="nav-link-6 in-button w-nav-link">Messages</a><a href="programari.html"
            class="nav-link-6 in-button w-nav-link">Programări</a><a href="#" onclick="logout()"
            class="nav-link-6 in-button w-nav-link">Log out</a>
        </div>
      </nav>
      <div class="w-nav-button">
        <div class="icon-2 w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
</div>

<!-- Ready to copy part. COPY THIS TO THE FILES -->
<nav role="navigation" class="nav-menu w-nav-menu"><a href="index.html"><img src="images/siteeeeeee.png" width="100"
      height="57" sizes="100px"
      srcset="images/siteeeeeee-p-500.png 500w, images/siteeeeeee-p-800.png 800w, images/siteeeeeee-p-1080.png 1080w, images/siteeeeeee-p-1600.png 1600w, images/siteeeeeee.png 1920w"
      alt="" class="image-2"></a><a href="despre-noi.html" class="nav-link-6 w-nav-link">Despre noi</a><a
    href="tutori.html" class="nav-link-6 w-nav-link">Gasește-ți tutorele</a><a href="cumfunctioneaza.html"
    class="nav-link-6 w-nav-link">Cum funcționează?</a><a href="devino-mentor.html" class="nav-link-6 w-nav-link">Devino
    tutore</a><a href="contact.html" class="nav-link-6 w-nav-link">Contact</a>
  <div id="login-bar" style="display:none"><a href="autentificare.html"
      class="nav-link-6 in-button w-nav-link">Autentificare</a><a href="inregistrare.html"
      class="nav-link-6 in-button w-nav-link">Înregistrare</a></div>
  <div id="logout-bar" style="display:none"><a href="lista-mesaje.html"
      class="nav-link-6 in-button w-nav-link">Mesaje</a><a href="programari.html"
      class="nav-link-6 in-button w-nav-link">Programări</a><a href="#" onclick="logout()"
      class="nav-link-6 in-button w-nav-link">Log out</a></div>
</nav>