<nav role="navigation" class="nav-menu w-nav-menu">
  <a href="index.html" aria-current="page" class="nav-link-6 w-nav-link w--current">Home</a>
  <a href="mentori.html" class="nav-link-6 w-nav-link">Gasește-ți mentor</a>
  <a href="devino-mentor.html" class="nav-link-6 w-nav-link">Devino mentor</a>
  <a href="preturi.html" class="nav-link-6 w-nav-link">Prețuri</a>
  <a href="#" class="nav-link-6 w-nav-link">Contact</a>
  <div id="login-bar" style="display:none">
    <a href="autentificare.html" class="nav-link-6 in-button w-nav-link">Autentificare</a>
    <a href="inregistrare.html" class="nav-link-6 in-button w-nav-link">Înregistrare</a>
  </div>
  <div id="logout-bar" style="display:inline">
    <a href="#" id="dashboard-button" class="nav-link-6 w-nav-link">Dashboard</a> 
    <a href="#" onclick="logout()" class="nav-link-6 in-button w-nav-link">Log out</a>
  </div>
</nav>

<!-- Ready to copy part. COPY THIS TO THE FILES -->
<nav role="navigation" class="nav-menu w-nav-menu"><a href="index.html" aria-current="page" class="nav-link-6 w-nav-link w--current">Home</a><a href="mentori.html" class="nav-link-6 w-nav-link">Gasește-ți mentor</a><a href="devino-mentor.html" class="nav-link-6 w-nav-link">Devino mentor</a><a href="preturi.html" class="nav-link-6 w-nav-link">Prețuri</a><a href="#" class="nav-link-6 w-nav-link">Contact</a><div id="login-bar" style="display:none"><a href="autentificare.html" class="nav-link-6 in-button w-nav-link">Autentificare</a><a href="inregistrare.html" class="nav-link-6 in-button w-nav-link">Înregistrare</a></div><div id="logout-bar" style="display:inline"><a href="#" id="dashboard-button" class="nav-link-6 w-nav-link">Dashboard</a><a href="#" onclick="logout()" class="nav-link-6 in-button w-nav-link">Log out</a></div></nav>
